<!-- templates/dashboard.html -->

{{template "header.html" .}}
<section class="section">
  <div class="container">
    <h1 class="title">
      Dashboard
    </h1>

    <div class="columns">
      <div class="column is-one-third">{{template "menu.html" .}}</div>
      <div class="column is-two-thirds"><p  style="background-color: whitesmoke; padding: 10px;">{{.content}}</p></div>
    </div>
  </div>
</section>
<!-- {{template "footer.html"}} -->