<!-- templates/navbar.html -->

{{define "navbar.html"}}

<nav class="navbar is-light" role="navigation" aria-label="main navigation">
	<div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/assets/logo.png" style="max-height: 2.50rem;">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
      	{{if .isLoggedIn}}
      	<div class="buttons">
          <a class="button is-primary" href="/dashboard">
            <strong>{{.name}}</strong>
          </a>
          <a class="button" href="/logout">
            Log out
          </a>
        </div>
        {{else}}

        <div class="buttons">
          <a class="button is-primary" href="/login">
            <strong>Log in</strong>
          </a>
        </div>
        {{end}}
      </div>
      {{if .isLoggedIn }}
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/signup">
            <strong>Signup</strong>
          </a>
        </div>
      </div>
      {{end}}
    </div>
  </div>
  </div>
</nav>

{{end}}